/*.selected-card-cookie {*/
/*border: 4px solid;*/
/*border-radius: .6em;*/
/*    border-color: var(--navbar-second-bg);*/
/*}*/

.selected-card {
    border: 4px solid;
    border-radius: .6em;
    border-color: var(--navbar-inverted-bg) !important;
}

.internalCard {
    width: 200px;
    min-width: 200px;
    height: 280px;
}


.card-container {
    perspective: 1000px;
}

.card-container .card {
    width: 200px;
    height: 280px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    border: none;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-size: cover;
    background-position: center;
}

.card-back {
    background-size: cover;
    background-position: center;
    background-image: url('../../media/cards/card_back/lupusBack.png');
    transform: rotateY(180deg);
}

.is-flipped {
    transform: rotateY(180deg);
}