#message{
    background: var(--bs-danger-bg-subtle);
    color: var(--bs-danger-text-emphasis);
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--bs-danger-border-subtle);
    width: 70%;
    margin: 1em auto;
    padding: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#showMore {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 5px 10px;;
    border-radius: 100px;
    background: var(--bs-danger-border-subtle);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 1em;
}

#showMore > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}

#showMore:hover svg {
    transform: translateX(5px);
}

#showMore:active {
    transform: scale(0.95);
}

#moreDetails{
    margin: 0;
}
