/*************************************************/
/*INPUTS' ANIMATION*/

.form-group {
    position: relative;
    margin-bottom: 1.5em;
}

.form-control {
    font-size: 18px;
    padding: 0.5rem;
    display: block;
}

.form-control:focus {
    outline: none;
}

.control-label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.form-control:focus ~ .control-label,
.form-control:not(:placeholder-shown) ~ .control-label {
    top: -23px;
    font-size: 16px;
    color: var(--navbar-inverted-bg);
}

/* active state */
.form-control:focus ~ .bar:before,
.form-control:focus ~ .bar:after {
    width: 50%;
}