#check-for-clicking {
    display: none;
}

.main-add-button-plus, .menu-add-items, .main-add-button-minus {
    margin: auto;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    left: auto;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.main-add-button-plus, .main-add-button-minus {
    /*background: slategray;*/
    cursor: pointer;
    z-index: 50;
}

.main-add-button-plus:hover {
    /*background: slategray;*/
}

.main-add-button-minus:hover {
    /*background: slategray;*/
}

.main-add-button-plus:active {
    /*background-color: slategray;*/
}

.main-add-button-minus:active {
    /*background-color: slategray;*/
}

.main-add-button-plus .menu-add-button-title {
    padding: 9px 1px 1px 1px;
    width: 100%;
    font-size: 3em;
    line-height: 80px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-add-button-minus .menu-add-button-title {
    padding: 9px 1px 1px 1px;
    width: 100%;
    font-size: 3em;
    line-height: 80px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-add-items {
    z-index: 10;
}

.plate {
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    right: 20px;
    bottom: 0;
    left: auto;
    width: 50px;
    height: 50px;
    opacity: 0;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    cursor: pointer;
    background: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plate i {
    width: 100%;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: black;
    /*font-family: Helvetica;*/
    font-style: normal;
    font-weight: bold;
}

.plate:hover i {
    color: #111;
}

.plate:nth-of-type(1) {
    background: slategray;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}

.plate:nth-of-type(2) {
    background: slategray;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.plate:nth-of-type(1):hover {
    background: slategray;
}

.plate:nth-of-type(2):hover {
    background: slategray;
}

#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate {
    opacity: 1;
}

#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(1) {
    left: -180%;
}

#check-for-clicking:checked ~ .main-add-button-minus + .menu-add-items .plate:nth-of-type(2) {
    left: -370%;

}

#check-for-clicking:checked ~ .main-add-button-plus {
    display: none;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#check-for-clicking:checked ~ .main-add-button-minus {
    display: inline;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#check-for-clicking:not(:checked) ~ .main-add-button-minus {
    display: none;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#check-for-clicking:not(:checked) ~ .main-add-button-plus {
    display: inline;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/**********************************/

:root {
    --primary: #625BFE;
    --text: #0F192D;
    --text-gray: #5A678C;
    --gray: #c0bcff;
    --error: #E3452F;
}

* {
    box-sizing: border-box;
}

.header {
    /*position: fixed;*/
    /*height: 80px;*/
    padding: 0 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navigation__group {
    display: flex;
    gap: 16px;
    align-items: center;
}

.navigation__group > .icon {
    cursor: pointer;
    width: 36px;
    height: 36px;
    transition: all 0.2s ease-in-out;
}

.navigation__group > .icon:hover {
    transform: scale(1.1);
}

.user-name {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: var(--text);
}

.profile {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    /*border-radius: 50%;*/
    /*border: 3px solid #f7f7f7;*/
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
}

.profile:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.email {
    color: var(--text-gray);
}

.dropdown__wrapper {
    width: 240px;
    top: 88px;
    right: 16px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid var(--text-gray);
    display: flex;
    flex-direction: column;
    gap: 4px;
    animation: fadeOutAnimation ease-in-out 0.3s forwards;
    z-index: 1;
    background: white;
}

.dropdown__wrapper--fade-in {
    animation: fadeInAnimation ease-in-out 0.3s forwards;
}

.none {
    display: none;
}

.hide {
    opacity: 0;
    visibility: hidden;
    animation: fadeOutAnimation ease-in-out 0.3s forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
        width: 160px;
    }
    100% {
        opacity: 1;
        visibility: visible;
        width: 240px;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        width: 240px;
        visibility: visible;
    }
    100% {
        opacity: 0;
        width: 160px;
        visibility: hidden;
    }
}

.dropdown__group {
    padding: 12px;
}

.divider {
    width: 100%;
    padding: 0;
    margin: 0;
}

.profile_nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 4px;
}

.profile_nav > ul > li {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-left: 8px;
    width: 100%;
}

.profile_nav > ul > li > img {
    height: 24px;
    width: 24px;
}

.profile_nav > ul > li:hover {
    cursor: pointer;
    text-decoration: underline;
}