.inputs {
    width: 100%;
    max-width: 350px;
}

#passwordComplex {
    position: absolute;
    background-color: #ade4f8;
    color: #0D324D;
    border-radius: .6em;
    transform: translateY(-115%);
    width: 100%;
    max-width: calc(350px - 1rem);
}

#passwordComplex .valid {
    text-decoration: line-through;
    color: green;
}

#passwordComplex .invalid {
    color: red;
}