#circle {
    border-radius: 50%;
    border: 2px solid #000;
    margin: 10%;
    position: relative;
    flex-shrink: unset;
}

.circular-player, .grid-player {
    border: none;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 14px;
    color: white;
    text-align: center;
}

.circular-player {
    position: absolute;
    transition: z-index 0.3s;
    width: 8em;
    height: 4.5em;
    transform: translateX(-50%) translateY(-50%);
}

.grid-player {
    width: 100%;
    height: 4.5em;
}

.circular-player:hover {
    z-index: 1; /* Bring button to the forefront on hover */
}