h1.not_logged {
    text-align: center;
    position: relative;
    min-height: 50vh;

    /*overflow-y: auto;*/
    /*    min-height: calc(100vh - 65px - 45px);*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.container {
    background-color: #2b3035;
    border-radius: 15px;
}

table.general_statics {
    border: white;
    border-width: medium;
    border-radius: 25px;

}

table.general_statics tr {
    background-color: lightseagreen;
    /*border: none;*/
}
