body {
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    font-size: 1em;
}

.column {
    border: 1px solid #ccc;
}


/*TABLE*/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd !important;
    padding: 8px;
    text-align: center;
    height: 55px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.goodRoles, .evilRoles, .victoryStealerRoles, .neutralRoles {
    border-radius: 1rem;
    padding: 2em 0.5em;
}

.goodRoles {
    background-color: #c8f3c8;
}

.evilRoles {
    background-color: #efb3b6;
}

.victoryStealerRoles {
    background-color: #e6d58f;
}

.neutralRoles {
    background-color: #9f9f9f;
}