body {
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    font-size: 1em;
}

.column {
    border: 1px solid #ccc;
}


/*TABLE*/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd !important;
    padding: 8px;
    text-align: center;
    height: 55px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.goodRoles, .evilRoles, .victoryStealerRoles, .neutralRoles {
    border-radius: 1rem;
    padding: 2em 0.5em;
}

.goodRoles {
    background-color: var(--bs-success-bg-subtle);
    /*background-color: #caecca; !*#c8f3c8;*!*/
}

.evilRoles {
    background-color: var(--bs-danger-bg-subtle);
    /*background-color: #ecbabc; !*#efb3b6;*!*/
}

.victoryStealerRoles {
    background-color: var(--bs-warning-bg-subtle);
    /*background-color: #fbebab; !*#e6d58f;*!*/
}

.neutralRoles {
    background-color: var(--bs-dark-bg-subtle);
    /*background-color: #b7b7b7; !*#e6d58f;*!*/
}