body {
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    background-color: var(--bg-first-color);
    color: var(--text-color);
    /*transition: color 0.3s ease, background-color 0.3s ease;*/
}

/*TABLE*/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 3px !important;
    text-align: center;
    vertical-align: middle;
    height: 46px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background-color: var(--nabbar-bg);
    color: var(--text-color);
}

.goodRoles, .evilRoles, .victoryStealerRoles, .neutralRoles {
    border-radius: 1rem;
    padding: 2em 0.5em;
}

.goodRoles {
    background-color: var(--good-roles);
}

.evilRoles {
    background-color: var(--evil-roles);
}

.victoryStealerRoles {
    background-color: var(--victory-stealer-roles);
}

.neutralRoles {
    background-color: var(--neutral-roles);
}