body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-image: url('../media/forest_background.jpeg');
    background-position: center;
    background-size: cover;
}

.main {
    height: 500px;
    overflow: hidden;
    background-color: #0D324D;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#loginCB {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.lb_login, .lb_signup {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 40px auto 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.signup .additional-options {
    color: #e0dede;
}

.login .additional-options {
    color: #052033;
}

#loginSignup {
    width: 100%;
    max-width: 700px;
}

.additional-options {
    height: 20px;
    margin: 0 auto;
}

.forgot-password {
    color: #573b8a;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.custom-input, input[type="submit"] {
    width: 100%;
    height: 40px;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
}

.custom-input {
    background: #e0dede;
    display: flex;
    margin: 1.5em auto;
    padding: 10px;
}

input[type="submit"] {
    color: #fff;
    background: #1F6191;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 20px auto 10px;
    transition: .2s ease-in;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #134569;
}

input[type="submit"]:disabled {
    background: #ade4f8;
    color: #0D324D;
    cursor: not-allowed;
}

.login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-130px);
    transition: .8s ease-in-out;
}

.lb_login {
    color: #0D324D;
    transform: scale(.6);
}

.lb_keep {
    display: inline-block;
    vertical-align: middle;
}

.forgot-password {
    text-align: right;
}

#loginCB:checked ~ .login {
    transform: translateY(-480px);
}

#loginCB:checked ~ .login label {
    transform: scale(1);
}

#loginCB:checked ~ .signup .lb_signup {
    transform: scale(.6);
}

.control-label {
    top: 6px !important;
}

.form-control:focus ~ .control-label,
.form-control:not(:placeholder-shown) ~ .control-label {
    top: -27px !important;
}

.login .form-control:focus ~ .control-label,
.login .form-control:not(:placeholder-shown) ~ .control-label {
    color: #0d324d;
}

.signup .form-control:focus ~ .control-label,
.signup .form-control:not(:placeholder-shown) ~ .control-label {
    color: #e0dede;
}