body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-color: #ff9913;
}

p {
    margin-bottom: 10px;
}

hr {
    border: 0;
    height: 12px;
    /*background-color: #ccc;*/
    background-color: darkorange;
    margin: 125px 0;
}
