:root {
    --neutral-color-1: #F2F7FA;
    --neutral-color-2: #c6c6c6;
    --neutral-color-3: #a6a6a6;
    --neutral-color-4: #0E418F;
    --neutral-color-5: #2E6785;
    --neutral-color-6: #7db3d1;
    --neutral_inverted-color: #0c0d10
}

[data-bs-theme="light"] {
    --good-roles: #c8f3c8;
    --evil-roles: #efb3b6;
    --victory-stealer-roles: #e6d58f;
    --neutral-roles: #b7b7b7;
    --designated-wolves: #e18888;

    --votes: #C1D4DF;
    --plague-spreader: #bfbfbf;
    --sam: #c2d7c7;

    --nabbar-bg: #4BA3C3;
    --nabbar-second-bg: #387B99;
    --nabbar-inverted-bg: #0D324D;
    --nabbar-inverted-second-bg: #245270;

    --bg-first-color: #EAF0F2;
    --bg-second-color: #DEE6E8; /*#c8dbdf;*/
    --bg-inverted-first-color: #0E1115;
    --bg-inverted-second-color: #12171C; /*#1a2127;*/

    --text-color: #0B121A;
    --text-color-inverted: #EAF0F2;
    --inputs-bg-color: #e5e9ea;
}

[data-bs-theme="dark"] {
    --good-roles: #1a2f22;
    --evil-roles: #341e1e;
    --victory-stealer-roles: #50441d;
    --neutral-roles: #343639;
    --designated-wolves: #442323;

    --votes: #082637;
    --plague-spreader: #373737;
    --sam: #1a3120;

    --nabbar-bg: #0D324D;
    --nabbar-second-bg: #245270;
    --nabbar-inverted-bg: #4BA3C3;
    --nabbar-inverted-second-bg: #387B99;

    --bg-first-color: #0E1115;
    --bg-second-color: #12171C; /*#1a2127;*/
    --bg-inverted-first-color: #EAF0F2;
    --bg-inverted-second-color: #DEE6E8; /*#c8dbdf;*/

    --text-color: #EAF0F2;
    --text-color-inverted: #0B121A;
    --inputs-bg-color: #20272d;
}