h2:not(#players h2):not(#friends h2) {
    text-align: center;
    margin: 10px 0;
    height: 75px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*tables*/
#friends_tb, #friends_tb {

    overflow-y: auto;
}

/*create game button*/
#sendSettings {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

#sendSettings:active,
#sendSettings:hover {
    outline: 0;
}

#sendSettings span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

#sendSettings:hover span {
    background: none;
}

#sendSettings:active {
    transform: scale(0.9);
}

/*remove player*/


.removePlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    border: 0px solid transparent;
    background-color: rgba(100, 77, 237, 0.08);
    border-radius: 0.7em;
    transition: all 0.2s linear;

    position: relative;
    display: inline-block;
}

.removePlayer:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.removePlayer .removeText {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 110%;
}

.removePlayer .removeText::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.removePlayer:hover .removeText {
    visibility: visible;
}

/*Add button*/
.addButton {
    cursor: pointer;
    fill: none;
    stroke: #60a5fa;
    outline: 2px solid transparent;
    outline-offset: 2px;
    height: 30px;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.checkbox-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 100%;
    transition: 0.3s;
    /*display: inline-flex;*/
    align-items: center;
    margin: 0;
}

.addCheckbox:checked + .checkbox-label {
    background-color: #1e40af;
    transform: rotate(45deg);
}


/*SWITCH*/

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    min-width: 60px;
    height: 30px;
    cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ccc;
    transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -35px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
    transform: translateX(45px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: #05c46b;
    box-shadow: inset 0 0 0 2px #04b360;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
    content: "On";
    color: #05c46b;
    right: -15px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(30px);
}

/*role div*/
.role {
    display: flex;
    align-items: center;
    margin-bottom: .7em;
}

.toggle-switch {
    margin-left: auto;
    width: 60px;
    min-width: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.number_container {
    display: flex;
    width: 60px;
    height: 2em;
    border-radius: 2em;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    margin-left: auto;
}

.number {
    text-align: center;
    width: 1em;
    height: 2em;
    margin: 0;
    border: none;
    outline: none;
    color: #000;
    background: rgba(0, 0, 0, 0);
}

.add, .minus {
    width: 1.5em;
    height: 2em;
    border-radius: 100%;
    font-size: 1em;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity .15s;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add:focus, .minus:focus {
    outline: none;
}