.action-wrapper {
    display: flex;
    align-items: center;
}

.roleTargets {
    margin-left: auto;
}

/*insert action*/

.select {
    position: relative;
    margin-bottom: 0;
}

.select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.select select {
    -webkit-appearance: none;
    padding: 3px 8px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    background: var(--bs-tertiary-bg);
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}

.select select:required:invalid {
    color: #5a667f;
}

.select select option {
    color: #223254;
}

.select select option[value=""][disabled] {
    display: none;
}

.select select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover + svg {
    stroke: #07f;
}

select:disabled, select:disabled ~ label {
    cursor: not-allowed !important;
}

.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.goodRoles, .evilRoles, .victoryStealerRoles, .neutralRoles,
.votes, .samDiv, .plagueDiv {
    padding: 1em;
    margin: 0 0 1em 0;
}

.votes {
    background-color: var(--votes);
    border-radius: 0.6rem;
}

.plagueDiv {
    background-color: var(--plague-spreader);
    border-radius: 0.6rem;
}

.plague_CB {
    height: 24px;
}

.samDiv {
    background-color: var(--sam);
    border-radius: 0.6rem;
}

hr {
    margin: 0.8em 0;
}

.action-wrapper:not(:last-child) {
    margin-bottom: .7em;
}

.evilRoles > .action-wrapper:not(#designatedWolves .action-wrapper) {
    margin-top: .7em;
}

#designatedWolves {
    background-color: var(--designated-wolves);
    padding: 1em;
    border-radius: 0.6rem;
}