.action-wrapper {
    display: flex;
    align-items: center;
}

.roleTargets {
    margin-left: auto;
}

/*insert action*/

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#sendActions {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

#sendActions:active,
#sendActions:hover {
    outline: 0;
}

#sendActions span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

#sendActions:enabled:hover span {
    background: none;
}

#sendActions:disabled {
    cursor: not-allowed;
}

#sendActions:disabled span {
    background-color: rgb(162, 15, 18);
}

#sendActions:enabled:active {
    transform: scale(0.9);
}

.select {
    position: relative;
    margin-bottom: 0;
}

.select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.select select {
    -webkit-appearance: none;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}

.select select:required:invalid {
    color: #5a667f;
}

.select select option {
    color: #223254;
}

.select select option[value=""][disabled] {
    display: none;
}

.select select:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover + svg {
    stroke: #07f;
}

select:disabled, select:disabled ~ label {
    cursor: not-allowed !important;
}

.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.goodRoles, .evilRoles, .victoryStealerRoles, .neutralRoles {
    padding: 1em;
    margin: 1em 0;
}

hr {
    margin: 0.8em 0;
}

.goodRoles > .action-wrapper:not(:last-child), .evilRoles > .action-wrapper:not(:last-child),
.neutralRoles > .action-wrapper:not(:last-child), .victoryStealerRoles > .action-wrapper:not(:last-child),
#designatedWolves .action-wrapper {
    margin-bottom: .7em;
}

 #designatedWolves {
    background-color: red;
}